body {
    font-family: "Roboto Slab", serif;
}
html, body {
    overflow-x: hidden;
}


.navbar {
    background-color: rgb(233, 233, 233) !important;
}

.upper-nav {
    background-color: rgb(208, 208, 208) !important;
    width: 100%;
}

.navbar {
    padding: 0 !important;
}

.nav-link {
    color: green !important;
    transition:
        color 0.2s ease,
        background-color 0.3s ease,
        transform 0.3s ease;
}

.nav-link:hover {
    color: white !important;
    background-color: green;
    transform: translateY(-3px);
}

.galerija-item {
    overflow: hidden;
    border-radius: 10px;
    height: 250px;
}

.galerija-slika {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}

.galerija-slika:hover {
    transform: scale(1.08);
}

#lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.dropdown-menu {
    border-radius: 10px;
}

.dropdown-item:hover {
    background-color: green;
    color: white;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}


#naslov {
    transition: 
        color 0.4s ease,
        transform 0.4s ease,
        text-shadow 0.4s ease;
}

#naslov:hover {
    color: #2f6f3e;
    transform: translateY(-5px);
    text-shadow: 0 2px 5px rgba(47, 111, 62, 0.35);
}
