body {
    font-family: "Roboto Slab", serif;
    background-color: white;
    color: black;
}

.section-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

ul {
    padding-left: 1.2rem;
}

@media print {
    button {
        display: none;
    }
}